{
  "env":{
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": [
        "babel-plugin-annotate-pure-calls"
      ]
    },
    "lib": {
      "presets": ["@babel/preset-env"]
    }
  }
}
